@font-face {
    font-family:"Roboto";
    src: url("/Fonts/Roboto-Thin.ttf") format('truetype');
}
body {
    margin: 35px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
}
header{
    padding-left: 18%;
    padding-right: 18%;
    background-color: #1F2937;
    padding-bottom: 10%;
}
.headerlogo {
    font-size: 22px;
    color: #F9FAF8;
    text-align: left;
    display: inline-block;
}
.headers {
    color: #E5E7EB;
    display: inline-block;
    padding-right: 15px;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.secText {
    color:#E5E7EB;
    font-size: 14px;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
}
.button {
    background-color: #3882f6;
    border-style: none;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
image {
    background-color: lightgray;
    height: 50%;
    width: 20%;
    display: inline-block;
}
h2 {
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}
.info {
    background-color: #E5E7EB;
    color: #1F2937;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.quote {
    font-size: 25px;
    font-family: 'Roboto-Thin', sans-serif;
}
.thor {
    font-weight: bold;
    font-size:smaller;
    text-align: right;
}
footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: smaller;
}
.signUp {
    width: 55%;
    background-color: #3882f6;
    color: #F9FAF8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 25%;
    margin-bottom: 40px;
}
.button1 {
    background-color: #3882f6;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border-style: solid;
    border-color: #E5E7EB;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
input[type="image"]::placeholder{
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 -20px;
}
.div1{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    margin: 0 20px;
    border-radius: 10px;
}
.div2 {
    width: 150px;
    height: 150px;
    border-style: none;
    text-align: center;
    margin: 0 20px;
    font-size: 13px;
}
.headDiv {
    background-color: grey;
    color: #F9FAF8;
    text-align: center;
    justify-content: center;
    width: 70%;
    height: 250px;
    margin: 0 20px;
    margin-top: 40px;
}
.butDiv {
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}